 <ion-view>
   <ion-pane >
            <ion-header-bar>
  <h1 class="title">Kanban Léonce</h1>
  <button class="button button-icon icon ion-android-more-vertical"  ng-click = "toggleright()"></button>
 
            </ion-header-bar>
        
      
      <ion-tabs class ="tabs-icon-top ">
      <!-- First Tab -->
           <ion-tab title="KBoard" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" >
           <ion-nav-view name="home-tab"></ion-nav-view>
   
  <ion-content ng-controller="SlideBoxController">
             <ion-slide-box pager-click="navSlide()">
   <!-- First Slide box-->

            <ion-slide>
                 <!-- Creates header-->
                  <div class="color-todo" ng-controller="TodoListCtrl"> 
                     <div class="bar bar-header bar-positive" >
                       <button class="button button-icon button-dark " ng-click="populate()">
                      <i class="icon ion-ios-plus"></i>
                       </button>
                      <h1 class="title">Credit Stop</h1>
                      
                        <button class="button button-icon button-dark " ng-click="newTask()">
                        <i class="icon ion-compose"></i>
                        </button>
                     </div> 
                     
                   <ion-content class="padding">
                <!-- our list and list items -->
                <ion-content class= "padding">
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="populate()">
  </ion-refresher>
                <ion-list class= "padding">
                  </br>
                    <ion-item ng-repeat="item in CreditStop" 
                    class="jnCard" ng-drag="true" 
                      ng-drag-data="item" 
                      ng-drag-success="cardRemoved($data, $event, '7')"
                      ng-force-touch = "true"
                      ng-touch-delay="500"
                      on-hold="stopSlide()"
                      on-release="startSlide()">
                 {{item.title}}
                </ion-item>
                    
      </ion-content>
          
         

                </ion-list>
                 </ion-content>
                  </div>

                  

            </ion-slide>
<!--         box   -->
            <ion-slide>
         
                  <div class="color-in-progress" ng-controller="inProgressCtrl"> 
                    <div class="bar bar-header bar-positive">
                     <h1 class="title">Credit Ok</h1>
  
                       <button class="button button-icon button-dark " ng-click="newTask()">
                       <i class="icon ion-compose"></i>
                       </button>
                     </div>
                     
                      <ion-content class="padding">
                        <ion-content class="padding">
                          
                <!-- our list and list items -->
                <ion-list class="padding">
                   </br>
                    <ion-item ng-repeat="item in CreditOK" 
                    class="jnCard" ng-drag="true" 
                      ng-drag-data="item" 
                      ng-drag-success="cardRemoved($data, $event, '7')"
                      ng-force-touch = "true"
                      ng-touch-delay="500"
                      on-hold="stopSlide()"
                      on-release="startSlide()">
                 {{item.title}}
                </ion-item>
                </ion-content>
                </ion-list>
                </ion-content>
                  </div>



            </ion-slide>
<!--             box -->
            <ion-slide>
         
                  <div class="color-in-progress" ng-controller="CreditWatchCtrl"> 
                    <div class="bar bar-header bar-positive">
                     <h1 class="title">Credit Watch</h1>
  
                       <button class="button button-icon button-dark " ng-click="newTask()">
                       <i class="icon ion-compose"></i>
                       </button>
                     </div>
                     
                      <ion-content class="padding">
               <ion-content class="padding">
                          
                <!-- our list and list items -->
                <ion-list class="padding">
                   </br>
                    <ion-item ng-repeat="item in CreditWatch" 
                    class="jnCard" ng-drag="true" 
                      ng-drag-data="item" 
                      ng-drag-success="cardRemoved($data, $event, '7')"
                      ng-force-touch = "true"
                      ng-touch-delay="500"
                      on-hold="stopSlide()"
                      on-release="startSlide()">
                 {{item.title}}
                </ion-item>
                </ion-content>
                
                </ion-list>
                      </ion-content>
                  </div>



            </ion-slide>
                        <ion-slide>
         
                  <div class="color-in-progress" ng-controller="NoCreditCheckCtrl"> 
                    <div class="bar bar-header bar-positive">
                     <h1 class="title">No Credit Check</h1>
  
                       <button class="button button-icon button-dark " ng-click="newTask()">
                       <i class="icon ion-compose"></i>
                       </button>
                     </div>
                     
                      <ion-content class="padding">
               <ion-content class="padding">
                          
                <!-- our list and list items -->
                <ion-list class="padding">
                   </br>
                    <ion-item ng-repeat="item in NoCreditCheck" 
                    class="jnCard" ng-drag="true" 
                      ng-drag-data="item" 
                      ng-drag-success="cardRemoved($data, $event, '7')"
                      ng-force-touch = "true"
                      ng-touch-delay="500"
                      on-hold="stopSlide()"
                      on-release="startSlide()">
                 {{item.title}}
                </ion-item>
                <ion-content>
                </ion-list>
                </ion-content>
                  </div>



            </ion-slide>    
                        <ion-slide>
         
                  <div class="color-in-progress" ng-controller="CreditHoldCtrl"> 
                    <div class="bar bar-header bar-positive">
                     <h1 class="title">Credit on Hold</h1>
  
                       <button class="button button-icon button-dark " ng-click="newTask()">
                       <i class="icon ion-compose"></i>
                       </button>
                     </div>
                     
                      <ion-content class="padding">
                <ion-content class="padding">
                          
                <!-- our list and list items -->
                <ion-list class="padding">
                   </br>
                    <ion-item ng-repeat="item in CreditHold" 
                    class="jnCard" ng-drag="true" 
                      ng-drag-data="item" 
                      ng-drag-success="cardRemoved($data, $event, '7')"
                      ng-force-touch = "true"
                      ng-touch-delay="500"
                      on-hold="stopSlide()"
                      on-release="startSlide()">
                 {{item.title}}
                </ion-item>
                </ion-content>
                </ion-list>
                </ion-content>
                  </div>



            </ion-slide>             
                 </ion-slide-box>
       <!-- Second Tab -->
          </ion-tab>
          <ion-tab title="Settings" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" >

</ion-content>
</ion-pane>
<div class="dragListChangeTriggerLeft" ng-drop="true" ng-on-hover="dragAction($hoverid)" ng-hover-id="nextboardleft"></div>
    <div class="dropZone" ng-drop="true"  ng-drop-success="addCard($data, $event)"></div>
    <div class="dragListChangeTriggerRight" ng-drop="true" ng-on-hover="dragAction($hoverid)"  ng-hover-id="nextboardright"></div>
    <div ng-drag-clone class="drag-object">
      {{clonedData.title}}
  </div>
  </div>
  <script id="new-step.html" type="text/ng-template">

        </script>
 </ion-view>   