<ion-view view-title="" name="login-view">
<ion-nav-bar ></ion-nav-bar>
      <ion-content class="padding top-space">
      <div class="item item-image padding borders">
          <img ng-src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRfFZXcNAqYCF3UMpqvcYBwmSPer1jA_kXxbKCSic1yHiGx_1l2Ug">
      </div>
      <br/>
      <br/>

      <div class="list">
         <label id="rounded" class="item item-input">
              <span class="input-label"><span class="ion-person"></span> Username</span>
              <input type="text" placeholder="username" class="button-blanche" ng-model= "loginparam.email">
         </label>
      </div>
      <div class="list">
         <label id="rounded" class="item item-input">
              <span class="input-label"><span class="ion-unlocked"></span> Password</span>
              <input type="password" placeholder = "password"class="button-banche" ng-model= "loginparam.password">
         </label>
      </div>
      <button class="button button-block button-positive" ng-click="login()">Login</button>
      <div class="padding">
      </div>
      {{loginparam}}

  </ion-content>
</ion-view>