<ion-view>
<ion-pane> 

<ion-content>
<div ng-controller= "soapCreateCtrl"> 
<div class="list">
	<label class="item item-input item-stacked-label">
	  <span class="input-label">SearchValue:</span>
	  <input type="text" ng-model = "createpara.value" placeholder="...">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">Name:</span>
	  <input type="text"  ng-model = "createpara.name"  placeholder="Name">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">TaxId:</span>
	  <input type="text"   ng-model = "createpara.taxid" placeholder="">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">IsVendor:</span>
	  <input type="text"   ng-model = "createpara.isvendor"placeholder="N/Y">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">IsCustomer:</span>
	  <input type="text"   ng-model = "createpara.iscustomer" placeholder="N/Y">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">IsTaxExempt:</span>
	  <input type="text"   ng-model = "createpara.istaxexempt" placeholder="N/Y">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">Name2:</span>
	  <input type="text"   ng-model = "createpara.name2" placeholder="Alternative Name">
	</label>
	<label class="item item-input item-stacked-label">
	  <span class="input-label">Group BPID:</span>
	  <input type="number"   ng-model = "createpara.groupid" placeholder="105">
	</label>
	{{tabs.header}}
	<button class="button button-positive" ng-click = create()> Submit</button>
</div>
</div>
</ion-content>
</ion-pane>
</ion-view>