  <ion-view title="{{navTitle}}" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">

        <ion-content has-header="true" padding="true">

            <h1>Home Page!</h1>
            
            <a ui-sref="main.info" class="button button-positive">Info</a>

        </ion-content>

    </ion-view>
