<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
   
   <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title></title>

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <!-- Css Library     -->

    <!-- your app's js -->

  <script src="js/ngDraggable.js"></script>
	<script src="js/xml2json.js"></script>
	<script src="src/app/app.js"></script>
	<script src="js/soapclient.js"></script>
	<script src="js/angular.soap.js"></script>
	<script src="src/app/menu/menucontroller.js"></script>
	<script src="src/app/soaptest/soaptestCtrl.js"></script>
	<script src = "src/app/KBoard/BoardController.js"></script>
	<script src = "src/app/KBoard/slideDirective.js"></script>
	<script src = "js/KLDataFactory.js"></script>
  </head>

  <body ng-app="starter" ng-controller = "menuNavController" >

<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="right" >
  
  
  <ion-header-bar class="bar bar-header bar-stable">
          <h1 class="title">Change View </h1>
        </ion-header-bar>
        <ion-content has-header="true">
          <ul class="list">
            <a ui-sref="soap.home" class="item " ng-click="">SoapTest</a>
             <a ui-sref="kboard" class="item " ng-click="">KBoard</a>
          </ul>
        </ion-content>
  
  </ion-side-menu>

  <ion-side-menu-content  drag-content="false">
         <ion-nav-view></ion-nav-view>
  <!-- Main content, usually <ion-nav-view> -->
  </ion-side-menu-content>
</ion-side-menus>
            
   
</body>
</html>
